@use "./_variables" as var;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: var.$font-outfit, sans-serif;
    line-height: 1.75;
    color: var.$default-color;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-family: var.$font-outfit;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var.$theme-white;
    text-shadow: 8px 8px 24px rgba(0, 0, 0, 0.4);
}

h2,
h4,
h5,
h6 {
    font-family: var.$font-inter;
    font-weight: normal;
    color: var.$theme-white;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    opacity: 0.8;
}

h6 {
    font-size: 1.25rem;
    font-weight: 600;
}

p,
button {
    font-family: var.$font-inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var.$theme-white;
}

section {
    padding: 120px 80px;
    width: 100%;
}

// Hero

.hero {
    background-image: url(var.$heroBgImage);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    background-position: 48% -10rem;

    &.cta {
        padding: 30% 40% 10% 0;

        p {
            line-height: 1.6;
        }

        button {
            display: flex;
            gap: 14px;
            align-items: center;
            padding: 24px 108px;
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(8px);
            border-radius: 16px;
            font-size: 24px;
            letter-spacing: -0.02em;
            transition: background 0.3s, color 0.3s, box-shadow 0.3s;

            &:hover,
            &:focus,
            &:active {
                background: rgba(255, 255, 255, 0.2);
                color: #000;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }

            &:hover::before,
            &:focus::before,
            &:active::before {
                backdrop-filter: blur(100px);
                transition: backdrop-filter 0.3s;
            }
        }
    }
}

// About Section

.about-us {
    background: linear-gradient(180deg, rgba(15, 25, 34, 0) 0%, var.$background2 31.4%);

    p {
        line-height: 1.6;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        padding: 0 20px;
        overflow: hidden;
        filter: brightness(88%) saturate(90%) hue-rotate(24deg);

        img:nth-child(1) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
            object-fit: cover;
            max-width: 288px;
            max-height: 480px;
            height: 100%;
            width: 100%;
        }

        img:nth-child(2) {
            grid-column: 2 / 2;
            grid-row: 1;
            object-fit: cover;
            max-width: 288px;
            max-height: 228px;
            width: 100%;
        }

        img:nth-child(3) {
            grid-column: 2;
            grid-row: 2;
            object-fit: cover;
            max-width: 288px;
            max-height: 228px;
            width: 100%;
        }
    }
}

// THeme Button

.theme-btn {
    color: var.$theme-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 16px;
    border: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    letter-spacing: -0.02em;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        i {
            transform: translateX(5px);
        }
    }

    i {
        transition: transform 0.3s;
    }

    &:hover,
    &:focus,
    &:active {
        background: rgba(255, 255, 255, 0.2);
        color: #dedede !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
        backdrop-filter: blur(100px);
        transition: backdrop-filter 0.3s;
    }
}

// Destination

.destination {
    background: var.$background2;

    .item {
        border: 10px solid var.$background2;
        gap: 24px;
        height: 440px;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 35px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        color: var.$theme-white;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        margin: 0 auto;
        transition: opacity 0.3s ease;

        h4 {
            font-weight: 600;
            font-size: 28px;
            line-height: 120%;
        }

        button {
            background-color: transparent;
            color: var.$theme-white;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 40px;
            gap: 16px;
            width: 216px;
            height: 54px;
            border: 1px solid var.$theme-white;
            backdrop-filter: blur(8px);
            border-radius: 8px;
            flex: none;
            order: 2;
            align-self: stretch;
            flex-grow: 0;

            &:hover {
                background-color: var.$theme-white;
                color: var.$background2;
            }
        }
    }

    .item:hover .overlay {
        opacity: 1;
    }
}

.owl-dots {
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.owl-theme .owl-nav {
    position: absolute;
    top: -150px;
    right: 0px;
    color: #fff;

    &[class*=owl-]:hover {
        background: transparent !important;
    }

    .nav {
        height: 80px;
        width: 80px;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #dedede;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: border-radius 0.3s, background-color 0.3s;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
    }
}

.testimonial {
    background: var.$background2;
}

.test-cont {
    padding: 64px 40px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    box-sizing: border-box;
}

.testimonial-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.avatar img {
    width: 100px !important;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.testimonial-content p {
    margin-top: 25px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var.$theme-white;
}

.testimonial-carousel .owl-dots {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.list-unstyled .bi {
    color: var.$theme-white;
}


/* Contact Us  Started */

.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    background: url(var.$heroBgImage);
    background-position: 45% 65%;

    .input-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 8px 8px 24px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        border-radius: 16px;

        i {
            font-size: 30px;
            color: #fff;
        }

        input {
            background: transparent;
            border: 0;
            padding: 5px 5px;
            caret-color: var.$theme-white;
            color: var.$theme-white;

            &:focus {
                outline: 0;
                border-radius: 8px;
            }

            &::placeholder {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: rgba(255, 255, 255, 0.4);

            }
        }


        input[type="submit"] {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: var.$theme-white;
            padding: 14px 50px;
            background: var.$background2;
            backdrop-filter: blur(8px);
            border-radius: 8px;
            border: 0;
        }
    }
}

/* Contact Us End */

footer {
    background: var.$background3;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
}

.loader-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100%;
    height: 100%;
    animation: rotate 2s linear infinite;
}

.loader-circle {
    fill: none;
    stroke: var(--background1);
    stroke-width: 5;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 283;
    }

    50% {
        stroke-dashoffset: 70;
    }

    100% {
        stroke-dashoffset: 283;
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    padding: 200px 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012f4dd0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);

    button {
        position: absolute;
        right: 2%;
        padding: 10px 20px;
        top: 15px;
        margin: auto 0;
        background-color: var(--background3);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    input {
        background-color: #fff;
        width: 100%;
        padding: 25px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 50px;
    color: #FFFFFF;
}