@use "../_variables/index" as var;

footer {
    background: var.$prussianBlue;

    $social-media-colors: (
        facebook: #1877F2,
        instagram: #e4405f,
        twitter-x: #000,
        linkedin: #0077b5,
        youtube: #ff0000
    );

@each $platform, $color in $social-media-colors {
    .bi-#{$platform}:hover {
        color: $color;
    }
}
}

@include var.responsive(md) {
    footer img {
        width: 100px;
    }

}