@use "../_variables/index" as var;


.testimonial {
    background: var.$background2;

    .test-cont {
        padding: 64px 40px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 24px;
        box-sizing: border-box;
    }

    .testimonial-bio {
        @include var.displayCenter;
        padding: 0px;
        gap: 16px;
        width: 100%;
    }

    .avatar img {
        width: 100px !important;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }

    .testimonial-content p {
        margin-top: 25px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var.$theme-white;
    }

    .testimonial-carousel .owl-dots {
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .list-unstyled .bi {
        color: var.$theme-white;
    }
}